.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr 25px;
  grid-template-areas:
    "header"
    "content"
    "footer";
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.conten {
  padding: 3px;
  overflow-y: auto;
  grid-area: content;
  overflow-x: hidden;

}
@media screen and (orientation: portrait) {
  .App {
    grid-template-rows: 125px 1fr 25px;
  }
}
