.nav-buttons {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  font-size: large;
  margin-top: 15px;
  font-weight: bold;
}

@media screen and (orientation: portrait) {
  .nav-buttons {
    font-size: 14px;
    gap: 5px;

  }
}


.nav-button-link {
  display: block;
  color: #cd8706;
  border: 1px solid transparent;
  border-radius: 25px;
  padding: 10px 15px;

}
.has-border {
  border: 1px solid #cd8706;
}

.nav-button-link:hover {
  color: #f9a407;
  border-color: #f9a407;
}
