.nav-buttons {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-self: center;
  font-size: large;
  font-weight: bold;

}

@media (orientation: portrait) {
  .nav-buttons {
    display: flex;
    justify-content: space-between;
    /* transform: scaleY(0.01); */
    /* transition: all .3s; */
    transform: translateY(-60px);
    opacity: 0;
    position: absolute;
    z-index: 5990;
  }

  .nav-buttons-active {
    display: flex;
    justify-content: space-around;
    transition: all .3s;
    margin-top: 10px;
    opacity: 1;
  }
}


.nav-button-link {
  display: block;
  color: var(--colorTextOrange);
  border: 1px solid transparent;
  border-radius: 25px;
  padding: 10px 15px;

}

.has-border {
  border: 1px solid var(--colorTextOrange);
}

.nav-button-link:hover {
  color: var(--colorTextOrangeHover);
  border-color: var(--colorTextOrangeHover);
}
